<!DOCTYPE html>
<html lang="it">
<head>
  {{ partial "shared/head.html" . }}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400..800;1,400..600&display=swap" rel="stylesheet" />
  {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" />
  <meta name="theme-color" content="#2c2e2a" />
</head>
<body class="{{ if .IsHome }}home{{ else }}{{ .Kind }} {{ .Section }}{{ end }}">
  <a class="skip" href="#contenuto">Vai al contenuto</a>
  {{ partial "header.html" . }}
  <main id="contenuto">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ block "scripts" . }}{{ end }}
  <script>(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else{w.onload = loader;}})(window, document);</script>
</body>
</html>
